.footer-content {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #fff;
  height: 50px;
  width: 100%;
  background-color: gray;

  .footer-content-text {
    margin-left: 150px;
    font-size: 13px;
  }
}
