* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: default;
}

.body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.Header-navbar {
    background-color: #fff;
    color: #005566;
    padding: 0px 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Header-logo {
    height: auto;
    width: 130px;
}

.Header-navbar-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.Header-nav-item {
    padding: 0 20px;
    font-size: 23px;
    color: #005566;
    text-decoration: none;

    span {
        padding: 0 5px;
        margin-right: 5px;
        padding-bottom: 15px;
    }
}

.Header-navbar-right {
    display: flex;

    .Header-login {
        font-size: 21px;
        margin-right: 20px;

        .login {
            margin-left: 5px;
        }
    }

    .Header-search {
        font-size: 21px;
    }
}

.triangle {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(40%);
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3));
}

.dropdown-container {
    position: absolute;
    padding: 10px;
    top: 50px;
    transform: translateX(-50%);
    z-index: 10;
}

.Header-dropdown-list {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: auto;
    list-style-type: none;
    z-index: 10;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    transform: translate(-10px, 10px);
}

#Header-dropmenu-contact {
    display: block;
    width: 200px;

}

#Header-dropmenu-about {
    display: block;
    width: 200px;
    transform: translate(-40%, 10px);

}

.Header-dropdown-item {
    padding-top: 10px;
    padding: 10px;
    color: #111;
    border-bottom: 1px solid #f3f3f3;
}

.Header-nav-item span:hover {
    color: #0077cc;
    cursor: pointer;
}

.Header-login:hover {
    color: #0077cc;
    cursor: pointer;
}

.Header-search:hover {
    color: #0077cc;
    cursor: pointer;
}

.Header-logo:hover {
    color: #0077cc;
    cursor: pointer;
}

.Header-dropdown-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}