.medprofile-cover {
  background-color: rgb(250, 250, 250);
  margin: 0px;
  border: 0.1px solid rgb(250, 250, 250);
}

.medpro-container {
  background-color: white;
  justify-content: center;
  display: flex;
  height: auto;
  margin: 30px 150px 0 150px;
}

.medprofile-top-text {
  position: absolute;
  color: rgb(250, 250, 250);
  top: 230px;
  left: 620px;
  font-size: 60px;
  font-weight: bold;
}

.medprofile-top-img {
  max-width: 100%;
}

.medprofile-navigator {
  color: #0067ab;
  position: relative;
  top: 10px;
  left: 150px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.medprofile-navigator-2 {
  color: #0067ab;
  position: relative;
  top: 10px;
  left: 150px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.medprofile-navigator-3 {
  position: relative;
  top: 10px;
  left: 150px;
  font-size: 20px;
  cursor: text;
}

.medpro-general {
  margin-top: 20px;
}

.medicine {
  flex: 5;
  width: 50%;
  padding: 20px;
}

.medpro-col1 {
  display: flex;
}

.medpro-img {
  flex: 5;
}

.medpro-img img {
  width: 100%;
  position: relative;
  z-index: 1;
  object-fit: contain;
}

.med-stuff {
  flex: 7;
}

.med-name h1 {
  margin-top: 5px;
  color: #0067ab;
  font-size: 36px;
  margin-left: 20px;
}

.medname-line {
  height: 1px;
  background: #ddd;
  margin: 0 0 0 100px;
}

.medpro-general h2 {
  color: #0067ab;
  font-size: 26px;
  margin-left: 20px;
}

.med-info h2 {
  color: #0067ab;
  font-size: 26px;
  margin-left: 20px;
}

.medpro-general p {
  font-size: 22px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.medpro-general b {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.medpro-general ul {
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.med-info p {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.med-info ul {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.med-info b {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.med-info {
  flex: 7;
  width: 50%;
  padding: 20px;
}

.medprofile-line {
  height: 1px;
  background: #ddd;
  margin-bottom: 20px;
  margin-top: 20px;
}

label {
  font-size: 20px;
}

.patient-signin {
  width: 90%;
  padding: 12px;
  background-color: #51be9d;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 25px;
  margin-top: 50px;
  margin-left: 25px;
}

.patient-signin:hover {
  background-color: #4a9f8b;
}
