.papro-cover {
  margin: 0px;
  border: 0.1px solid rgb(250, 250, 250);
}

.main-papro-container {
  background-color: white;
  justify-content: center;
  display: flex;
  height: auto;
  margin: 30px 0 0 150px;
}

.papro-top-text {
  position: absolute;
  color: rgb(250, 250, 250);
  top: 250px;
  left: 520px;
  font-size: 60px;
  font-weight: bold;
}

.papro-navigator {
  color: #0067ab;
  position: relative;
  top: 10px;
  left: 150px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.papro-navigator-2 {
  color: #0067ab;
  position: relative;
  top: 10px;
  left: 150px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.papro-navigator-3 {
  position: relative;
  top: 10px;
  left: 150px;
  font-size: 20px;
  cursor: text;
}

.patient {
  flex: 5;
  width: 50%;
  padding: 20px;
}

.papro-col1 {
  display: flex;
  height: 340px;
}

.papro-img {
  flex: 5;
}

.papro-img img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  object-fit: contain;
}

.papro-info {
  flex: 7;
}

h4 {
  margin-top: 5px;
  margin-left: 25px;
  color: #0067ab;
  font-size: 32px;
}

h5 {
  margin: 0 0;
  color: #0067ab;
  font-size: 26px;
}

h6 {
  margin-bottom: 0;
  margin-left: 25px;
  color: #0067ab;
  font-size: 20px;
}

.papro-tong_quan {
  margin-top: 50px;
}

p {
  font-size: 20px;
  margin-bottom: 20px;
}

.papro-info {
  flex: 7;
  width: 50%;
  padding: 20px;
}

.line {
  height: 1px;
  background: #ddd;
  margin-bottom: 20px;
  margin-top: 20px;
}

label {
  font-size: 20px;
}

button {
  width: 90%;
  padding: 12px;
  background-color: #51be9d;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 25px;
  margin-top: 0;
  margin-left: 25px;
}

button:hover {
  background-color: #4a9f8b;
}
